@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-ibm: "IBM Plex Sans", sans-serif;

  --color-background-1: #394508;
  --color-background-2: #ffffff;
  --color-background-3: #ededed;
  --color-accent-1: #d2fd9c;
  --color-accent-2: #77912a;
  --color-accent-3: #619111;
  --color-heading: #394508;
  --color-text-1: #000000;
  --color-text-2: #5d5d5d;
  --color-subhead: #cbcbcb;
  --color-ovelay: #d9d9d9;

  --text-heading-1: 42px;
  --text-heading-2: 32px;
  --text-heading-3: 20px;
  --text-paragraph: 16px;
  --text-caption: 14px;
  --text-link: 12px;
}

@layer utilities {
  .min-w-content {
    min-width: var(--content-min-width);
  }
}

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }
}
